body {
	  background-image: url('img2.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  }
  
  .mainbody {
    margin: 20px;
    color: white;
  }
  
  .changemargin {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  /* ################################## INDEX ############################################# */
  
  .statement{
    padding-right: 10px;
    padding-top: 10px;
    font-size: 50px;
    color:#ff6347;
	font-family: Georgia;
  }
  
 
  
